<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="{{ url_for("static", filename="style.css")}}">
    <title>Not My First Container</title>
    <style>
    </style>
</head>
<body>
    <h1>小佛 我知道今天要做什麼了</h1>
    <form action="/add" method="post">
        <input type="text" name="todo" placeholder="退出 CRYCHIC">
        <input type="submit" value="Add">
    </form>
    <ul>
        {% for todo in todos %}
            <li>
                <span class="{{ "done" if todo.done else "" }}">{{ todo.text }}</span>
				<form action="{{ url_for("toggle", todo_id=todo._id) }}" method="POST" style="display: inline;">
                    <input type="checkbox" onchange="this.form.submit()" {{ "checked" if todo.done else "" }}>
                </form>
            </li>
        {% endfor %}
    </ul>
</body>
</html>
